html,
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cartao {
    width: 12.6rem;
    height: 21rem;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .7rem;
    border-radius: .1rem #8a8267 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(66, 38, 0, 0.2);
}

.titulo {
    margin: 0 0 1rem 0;
}

.imagem {
    width: 12.5rem;
    height: 12.5rem;
}

.rodape {
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    padding: .3rem 2rem;
    background-color: rgb(216, 187, 123);
    border: none;
}

html,
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cartao {
    width: 12.6rem;
    height: 21rem;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .7rem;
    border-radius: .1rem #8a8267 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(66, 38, 0, 0.2);
}

.titulo {
    margin: 0 0 1rem 0;
}

.imagem {
    width: 12.5rem;
    height: 12.5rem;
}

.rodape {
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    padding: .3rem 2rem;
    background-color: rgb(216, 187, 123);
    border: none;
}