.button {
    color: rgb(0, 0, 0);
    padding: .4rem 3rem;
    background-color: rgb(219, 27, 27);
    border: none;
}


body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.painel {
    justify-content: space-evenly;
    width: 73rem;
    height: 17rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.7rem;
    border: 0.2rem #ffffff solid;
    box-shadow: 2px 2px 2px 1px rgba(29, 21, 105, 0.2);
    background-color: rgb(60, 14, 120);
}


p {
    font-size: 15px;
    text-align: justify;
}


.titulo {
    margin: 0 0 1rem 0;
    font-size: 25px;
    text-align: center;
}


.td {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.Aranhaverso {
    width: 8rem;
    height: 12rem;
    position: relative
}


.Encanto {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.sonic {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.suzume {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.avatar {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.Barbie {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.fnaf {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.guardioes {
    width: 8rem;
    height: 12rem;
    position: relative;
}


.color {
    background-color: rgb(60, 14, 120);
    width: auto;
    margin: auto;
    height: 18rem;
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
}
